{% apply inline_css(source('@styles/mail.css')) %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

    </head>
    <body>
    {% block body %}
        <main style="font-family: 'Roboto'">
            <br>
            <div class="container">
                <table id="taula" class="bootstrap-table mt-3" style="table-layout: auto; width: 100%">
                <thead>
                    <tr>
                        <th data-sortable="true" data-field="name" style="text-align: left">{{"label.name" | trans | capitalize}}</th>
                        <th data-sortable="true" data-field="ip" style="text-align: left">{{"label.ip" | trans | capitalize}}</th>
                        <th data-sortable="true" data-field="state" style="text-align: left">{{"label.state" | trans | capitalize}}</th>
                        <th data-sortable="true" data-field="pingStatus" style="text-align: left">{{"label.pingStatus" | trans | capitalize}}</th>
                        <th data-sortable="true" data-field="lastSucessfullPing" style="text-align: left">{{"label.lastSucessfullPing" | trans | capitalize}}</th>
                        <th data-sortable="true" data-field="lastTimeOnline" style="text-align: left">{{"label.lastTimeOnline" | trans | capitalize}}</th>
                        <th data-sortable="true" data-field="disabled" style="text-align: left">{{"label.disabled" | trans | capitalize}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if aps is defined and aps | length > 0 %}
                        {% for ap in aps %}
                            <tr>
                                <td>{{ ap.name }}</td>
                                <td>{{ ap.ip }}</td>
                                <td>{{ ap.state }}</td>
                                <td>{{ ap.pingStatus }}</td>
                                <td>{{ ap.lastSuccessfullPing != null ?  ap.lastSuccessfullPing | date('d/m/Y H:i:s') : ''}}</td>
                                <td>{{ ap.lastTimeOnline != null ?  ap.lastTimeOnline | date('d/m/Y H:i:s') : ''}}</td>
                                <td>{{ ap.disabled ? 'label.yes' | trans : 'label.no' | trans }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td class="text-center" colspan="7">{{"messages.results0" | trans }}</td></tr>
                    {% endif %}
                </tbody>
                </table>
            </div>
        </main>
    {% endblock %}
    </body>
</html>
{% endapply %}