<div class="container-fluid" {# {{ stimulus_controller('modal') }} #}>
	{% if phones is defined and phones|length > 0 %}

		<table id="taula" class="table bootstrap-table" {{ stimulus_controller('table', { 'url': path('phone_index'), 'exportName': 'phones', } ) }} 
			data-page-number="{{ page }}" 
			data-page-size="{{ pageSize ?? 100 }}" 
			data-sort-name="{{ sortName }}" 
			data-sort-order="{{ sortOrder }}" 
			data-toolbar="#toolbar">
			<thead>
				<tr>
					<th data-sortable="true">{{ 'id' | trans }}</th>
					<th data-sortable="true">{{ 'phone.ip' | trans }}</th>
					<th data-sortable="true">{{ 'phone.mac' | trans }}</th>
					<th data-sortable="true">{{ 'phone.extension' | trans }}</th>
					<th data-sortable="true">{{ 'phone.model' | trans }}</th>
					<th data-sortable="true">{{ 'phone.firmware' | trans }}</th>
					<th data-sortable="true">{{ 'phone.updatedAt' | trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for phone in phones %}
					<tr>
						<td>{{ phone.id }}</td>
						<td><a href="http://{{phone.ip}}" target="_blank">{{ phone.ip }}</td>
						<td>{{ phone.mac }}</td>
						<td>{{ phone.extension }}</td>
						<td>{{ phone.model }}</td>
						<td>{{ phone.firmware }}</td>
						<td>{{ phone.updatedAt ? phone.updatedAt | date('Y-m-d h:i') : '' }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{{ include('common/_alert.html.twig') }}
	{% else %}
		<div class="alert alert-info text-center">
			{{'message.no_records' | trans }}
		</div>
	{% endif %}
</div>
