<div class="container-fluid">
	{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
	<div
		class="row d-flex flex-nowrap align-items-center">
		<!-- Hostname -->
		<div class="col-md-1">
			{{ form_row(form.hostname, {
            'attr': {'class': 'form-control form-control-sm'},
         }) }}
		</div>

		<!-- Start IP -->
		<div class="col-md-1">
			{{ form_row(form.startIp, {
        		'attr': {'class': 'form-control form-control-sm'},
    		}) }}
		</div>

		<!-- End IP -->
		<div class="col-md-1">
			{{ form_row(form.endIp, {
        		'attr': {'class': 'form-control form-control-sm'},
		    }) }}
		</div>

		<!-- MAC -->
		<div class="col-md-1"> {{ form_row(form.mac, {
				'attr': {'class': 'form-control form-control-sm'},
			}) }}
		</div>

		<div class="col-md-1">
			{{ form_row(form.origin, {
            'attr': {'class': 'form-select form-select-sm'},
            }) }}
		</div>
		<!-- Botón de búsqueda -->
		<div class="col-md-2">
			<button type="submit" class="btn btn-primary btn">{{ "btn.search" | trans }}</button>
		</div>

	</div>
	{{ form_end(form) }}
</div>
