{% extends 'base.html.twig' %}

{% block title %}{{'title.computer.show' | trans}}{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-middle" {{ stimulus_controller('computer-action')}}>
        <h1>{{ 'title.computer.edit' | trans }}</h1>&nbsp;
    </div>
    {{ include('computer/_form.html.twig',{
        'readonly': readonly
    }) }}
    {{ include('common/_alert.html.twig') }}
{% endblock %}