<div class="container-fluid" {{ stimulus_controller('modal') }}>
	{% if netmaps is defined and netmaps|length > 0 %}
		<table id="taula" class="table bootstrap-table mt-3" {{ stimulus_controller('table', { 'url': path('computer_index'), 'exportName': 'computers', } ) }} data-page-number="{{ page }}" data-page-size="{{ pageSize }}" data-page-sortname="{{ sortName }}" data-page-sortorder="{{ sortOrder }}">
			<thead>
				<tr>
					<th data-sortable="true">{{ 'netmap.mac' | trans }}</th>
					<th data-sortable="true">{{ 'netmap.ip' | trans }}</th>
					<th data-sortable="true">{{ 'netmap.mask' | trans }}</th>
					<th data-sortable="true">{{ 'netmap.netid' | trans }}</th>
					<th data-sortable="true">{{ 'netmap.date' | trans }}</th>
					<th data-sortable="true">{{ 'netmap.name' | trans }}</th>
					<th data-sortable="true">{{ 'netmap.tag' | trans }}</th>
					<th data-sortable="true">{{ 'netmap.hardwareId' | trans }}</th>
					{# <th>{{ 'netmap.harware' | trans }}</th> #}
					<th>{{ 'table.options' | trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for netmap in netmaps %}
					<tr>
						<td>{{ netmap.mac }}</td>
						<td>{{ netmap.ip }}</td>
						<td>{{ netmap.mask }}</td>
						<td>{{ netmap.netid }}</td>
						<td>{{ netmap.date | date('Y-m-d h:i:s') }}</td>
						<td>{{ netmap.name }}</td>
						<td>{{ netmap.tag }}</td>
						<td>{{ netmap.hardwareId }}</td>
						{# <td>{{ netmap.lastSucessfullPing ? netmap.lastSucessfullPing | date('Y-m-d') : '' }}</td> #}
						<td>
							{# <a class="icon" href="{{ path ("computer_show",{'id': netmap.id })}}" data-action="click->table#onClick" data-pagination="false">
								<i class="fa fa-eye"></i>
							</a>

							&nbsp;<a class="icon" href="{{ path ("computer_edit",{'id': netmap.id })}}" data-action="click->table#onClick" data-pagination="false">
								<i class="fa fa-edit"></i>
							</a>

							&nbsp;
							<a class="text-decoration-none" data-action="click->modal#openping" data-url="{{ absolute_url( path('computer_ping', {'id': netmap.id}) )}}" data-message="{{ "message.noIp" | trans }}">
								<i class="fas fa-wifi" title='{{ "btn.ping" | trans | capitalize }}'></i>
							</a>
							&nbsp;
							<a class="text-decoration-none" data-action="click->modal#openarp" data-url="{{ absolute_url( path('computer_arp', {'id': netmap.id}) )}}" data-message="{{ "message.noIp" | trans }}">
								<i class="fas fa-broadcast-tower" title='{{ "btn.arp" | trans | capitalize }}'></i>
							</a> #}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		{{ include('common/_alert.html.twig') }}
	{% else %}
		<div class="container alert alert-info m-2 text-center">
			{{'message.no_records' | trans }}
		</div>
	{% endif %}
	{# {{ include('common/_modal.html.twig', {
      		'modalTitle': 'modal.title.netmap' | trans,
      		}) 
   		}} #}
</div>
