{% extends 'base.html.twig' %}

{% block title %}{{ 'title.netmap.search' | trans }}{% endblock %}

{% block body %}
    {# <div {{ stimulus_controller('reload-content', {
                    url: path('loan_index', { ajax: 1 })
                }) }}> #}
    <div>
        <div class="container-fluid">
            <div class="mt-4">
                <div data-reload-content-target="content">
                    {{ include('netmap/_list.html.twig') }}
                </div>
                {# <div class="float-right mb-1">
                    <a class="btn btn-primary rounded-circle fixed-bottom-right" data-action="modal-form#openModal">
                       <i class="fas fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i>
                    </a>
                </div> #}
            </div>
            <div>
             {#   {{ include('common/_modal.html.twig', {
                    modalTitle: 'modal.title.loanNew' | trans,
                }) }} #}
            </div>
        </div>
    </div>
{% endblock %}